.card-outer {
    background-color: unset;
    max-width: 1900px;
    margin: auto;
    padding: 16px;
}

.top-bar-container {
    margin: 1em 0;
}

.top-bar {
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.list {
    margin: 1.34375em 1em 0;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff9c;
    border-radius: 5px;
    z-index: 1000;
}

.loading div {
    margin: auto;
    align-self: center;
}

.button-container {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.container-sites {
    flex-flow: row wrap;
    box-sizing: border-box;
    place-content: stretch flex-start;
    align-items: stretch;
    max-height: 100%;
}

.card-site {
    cursor: pointer;
    margin: 10px;
    padding: 0px;
    width: 300px;
    place-content: stretch space-between;
    max-width: 100%;
    align-items: stretch;
}